<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AccountManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <AccountManager.Properties.Settings>
            <setting name="WisaServer" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="WisaPort" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaUser" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaConnectionTested" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="WisaWorkDate" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaWorkDateNow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartschoolURI" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolPassphrase" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolTestUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolConnectionTested" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="SmartschoolStudentGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolStaffGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolUseGrades" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartschoolUseYears" serializeAs="String">
                <value>False</value>
            </setting>
        </AccountManager.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>