<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccountManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <AccountManager.Properties.Settings>
            <setting name="WisaServer" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="WisaPort" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaUser" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaConnectionTested" serializeAs="String">
                <value>Unknown</value>
            </setting>
        </AccountManager.Properties.Settings>
    </userSettings>
</configuration>